*{
    margin: 0px;
    padding: 0px;
}

#contenidoZoom, #fondoNuevaReunion{
    width: 25rem;
    margin: auto;
    text-align: center;
    height: 42rem;
    position: static;
    border-radius: 20px;
    border: 2px solid black;
    margin-bottom: 6rem;
}
.contenidoZoom2{
    width: 25rem;
    text-align: center;
    height: 42rem;
    position: static;
    margin: auto;
    border-radius: 20px;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(33, 33, 33);
    margin-bottom: 6rem;
}

.encabezado{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    background-color: #1b1f4e;
    border-radius: 15px 15px 0px 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
    width: 100%;
    cursor: context-menu;
}
.botonesContenido{
    padding-top: 2rem;
    height: 32rem;
}
.boton{
    border-radius: 20px;
    background-color: #2c6fec;
    border: none;
    width: 7rem;
    height: 7rem;
    margin: 10px;
}
#reunion{
    background-color: #f0701a;
    margin-top: 15px;
    width: 8rem;
    height: 8rem;
}
.botonesMenu{
    width: 25%;
    text-align: center;
    border-left: 1px solid rgb(35, 35, 35);
    font-size: 10px;
}
.menu{
    background-color: #ececf1;
    cursor: context-menu;
    border-radius: 0px 0px 15px 15px;
}
a{
    text-decoration: none;
}
.txtBoton{
    color: white;
    font-size: 1rem;
}
.imgBoton{
    width: 60%;
}

#mensaje{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    padding-top: 10px;
    text-align: center;
    height: 50px;
    font-size: medium;
    font-weight: bold;
    display: none;
}

.encabezadoLlamada{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    background-color: #dadae2;
    border-radius: 15px 15px 0px 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: black;
    width: 100%;
    cursor: context-menu;
}
#cancelar{
    font-size: small;
    float: left;
    margin-left: 20px;
    text-decoration: none;
    cursor: pointer;
    color: #377c9c;

}

.share{
    width: 10px;
}
.radio{
    font-size: 20px;
}

#botonv{
    background-color: white;
    color: black;
    border: 2px solid #e86e10; /* Green */
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-size: 40px;
    border-radius: 10px;
    top: 200px;
}
#botonv:hover {
    background-color: #0f6449; /* Green */
    color: white;
}

.tablaNuevaReunion{
    width: 100%;
    background-color: #c9c9ce;
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.iniciarReunion{
    margin-top: 5%;
    width: 80%;
    border-radius: 20px;
    font-size: medium;
    color: white;
    height: 40px;
    border: none;
    background-color: #2c6fec;
    cursor: pointer;
}










.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}



#preguntaReunion{
    cursor: context-menu;
}
#telefono{
    display: inline;
}
.verdaderoFalso{
    margin: 30px;
    width: 150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 150px;
    font-size: large;
    border-radius: 30px;
    position: absolute;
    text-align: center;
}
#verdadero{
    float: right;
    margin-left: 10%;
    background-color: #78dd78;
}
#verdadero:hover{
    transition: all .5s;
    font-size: x-large;
    background-color: #78dd78bb;
}
#falso{
    margin-left: 80%;
    background-color: #e25a5a;
}
#falso:hover{
    transition: all .5s;
    font-size: x-large;
    background-color: #e25a5abe;
}

/*
    background-color: #cae8ca;
    border: 2px solid #3d863f;

    Respuesta incorrecta
    background-color: #e8caca;
    border: 2px solid #863d3d;
*/